<h2>new book</h2>
<form action="/books" method="POST" enctype="multipart/form-data">
    <%- include("./_form_field.ejs") %>
    <a href="/books">cancel</a>
    <button type="submit">create</button>
</form>