<h2>edit author</h2>
<form action="/authors/<%- author.id %>?_method=PUT" method="post">
    <%- include("./_form_field.ejs") %>
    <a href="/authors">cancel</a>
    <button type="submit">update</button>
</form>